:root {
    --burgunder: #AB3D4E;
    --background: #FFF;
}



    .intro{
        color: var(--burgunder);
        text-align: center;
        -webkit-text-stroke-color: #F0F0F0;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 35px;
    }



main{
    .strikkebilde{
        max-width: 100%;
        height: auto;

        border-radius: 3px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>) lightgray -0.938px 0.415px / 100.124% 100% no-repeat;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.rose-design{
    display: flex;
    
    width: 39px;
    height: 39px;
    flex-shrink: 0;

}

.image-design {
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before,
    &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #000;
    }

    .rose-design {
        width: 80px;
        height: auto;
    }
}